.home-page-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.home-page-content p{
    max-width: 600px;
    width: 100%;
    line-height: 1.4;
    font-size: 15px;
}
.home-page-content h2{
    font-size: 18px;
    margin-bottom: 10px;
}

.home-page-section {
    margin-bottom: 20px;
}


